Repository mkerkstra/not-hotdog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-unknown --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{json,yaml}": "prettier --ignore-unknown --write"
}

init react
  apps/client-react/.gitignore
  apps/client-react/index.html
  apps/client-react/package.json
  apps/client-react/public/vite.svg
  apps/client-react/src/App.css
  apps/client-react/src/App.tsx
  apps/client-react/src/assets/react.svg
  apps/client-react/src/index.css
  apps/client-react/src/main.tsx
  apps/client-react/src/vite-env.d.ts
  apps/client-react/tsconfig.json
  apps/client-react/tsconfig.node.json
  apps/client-react/vite.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

init nest
  apps/api-nest/.eslintrc.js
  apps/api-nest/.gitignore
  apps/api-nest/.prettierrc
  apps/api-nest/README.md
  apps/api-nest/nest-cli.json
  apps/api-nest/package.json
  apps/api-nest/src/app.controller.spec.ts
  apps/api-nest/src/app.controller.ts
  apps/api-nest/src/app.module.ts
  apps/api-nest/src/app.service.ts
  apps/api-nest/src/main.ts
  apps/api-nest/test/app.e2e-spec.ts
  apps/api-nest/test/jest-e2e.json
  apps/api-nest/tsconfig.build.json
  apps/api-nest/tsconfig.json
Due: eslint --fix, prettier --ignore-unknown --write

lockfile
  .devcontainer/Dockerfile
  apps/api-nest/package.json
  apps/client-next/next-env.d.ts
  apps/client-next/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --ignore-unknown --write

aws creds
  .aws/credentials
Due: none

gitignore credentials
  .gitignore
Due: none

nix react, stick with next
  apps/client-react/.gitignore
  apps/client-react/index.html
  apps/client-react/package.json
  apps/client-react/public/vite.svg
  apps/client-react/src/App.css
  apps/client-react/src/App.tsx
  apps/client-react/src/assets/react.svg
  apps/client-react/src/index.css
  apps/client-react/src/main.tsx
  apps/client-react/src/vite-env.d.ts
  apps/client-react/tsconfig.json
  apps/client-react/tsconfig.node.json
  apps/client-react/vite.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

only hotdogs
  apps/client-next/app/hotdog.tsx
  apps/client-next/app/page.tsx
  apps/client-next/app/user.tsx
  apps/client-next/dockerfile
  apps/client-next/next-env.d.ts
  apps/client-next/package.json
  apps/client-next/pages/api/upload-s3.ts
  packages/ui/button.tsx
Due: eslint --fix, prettier --ignore-unknown --write

add prediction resource
  apps/api-nest/package.json
  apps/api-nest/src/app.module.ts
  apps/api-nest/src/prediction/prediction.controller.spec.ts
  apps/api-nest/src/prediction/prediction.controller.ts
  apps/api-nest/src/prediction/prediction.module.ts
Due: eslint --fix, prettier --ignore-unknown --write

read image in as a stream
  apps/api-flask/Dockerfile
  apps/api-flask/app.py
Due: none

misc cleanup
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/postStart.sh
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write

update readme
  README.md
Due: none

project names
  apps/api-flask/package.json
  package.json
Due: prettier --ignore-unknown --write

fix the nest request
  apps/api-nest/src/main.ts
  apps/api-nest/src/prediction/prediction.controller.ts
Due: eslint --fix

add prediction component to the hotdog page.
  apps/client-next/app/hotdog.tsx
Due: eslint --fix

fix devcontainer name
  .devcontainer/devcontainer.json
Due: prettier --ignore-unknown --write

fix creds
  .aws/credentials
  apps/api-nest/src/app.module.ts
  apps/api-nest/src/prediction/prediction.controller.ts
  apps/client-next/pages/api/upload-s3.ts
  turbo.json
Due: eslint --fix, prettier --ignore-unknown --write

nix pyc files
  .gitignore
  apps/api-flask/__pycache__/app.cpython-311.pyc
  apps/api-flask/__pycache__/app.cpython-39.pyc
Due: none
